/* mulish-regular - cyrillic_latin */
@font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Mulish';
   font-style: normal;
   font-weight: 400;
   src: url('../fonts/mulish-v12-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
 }
 /* mulish-600 - cyrillic_latin */
 @font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Mulish';
   font-style: normal;
   font-weight: 600;
   src: url('../fonts/mulish-v12-cyrillic_latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
 }
 /* mulish-900 - cyrillic_latin */
 @font-face {
   font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
   font-family: 'Mulish';
   font-style: normal;
   font-weight: 900;
   src: url('../fonts/mulish-v12-cyrillic_latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
 }

 html {
   scroll-behavior: smooth;
   box-sizing: border-box;
 }

 *, *::before, *::after {
   box-sizing: inherit;
 }

 body {
   min-width: 320px;
   min-height: 100vh;
   font-family: 'Mulish', sans-serif;
   font-size: 18px;
   font-weight: 400;
   line-height: 1.1;
   color: #000;
   background: #f8e8e2 url(../images/bg.svg) top no-repeat;
   background-size: contain;
   background-position: 0 -50px;
 }

 button {
   padding: 0;
   cursor: pointer;
   background-color: transparent;
   border: 0;
 }

 a {
   text-decoration: none;
   color: inherit;
 }

 ul {
   list-style: none;
   margin: 0;
   padding: 0;
 }

 h2, h3, p {
   margin: 0;
 }

 .container {
   max-width: 1240px;
   margin: 0 auto;
   padding: 0 30px;
 }

 .btn {
   padding: 12px 28px;
   font-weight: 600;
   color: #fff;
   border-radius: 40px;
   background:#F44;
   box-shadow: 0px 4px 20px 0px #FA5A5A;
 }
 .btn:disabled {
   background:#c1c1c1;
   box-shadow: none;
 }

 .btn:hover {
   background: #FF6767;
   box-shadow: 0px 4px 20px 0px #FA5A5A;
 }

 .btn:active {
   background:#52E36A;
   box-shadow: 0px 4px 20px 0px #52E36A;
 }

 .text-red {
   color: #F44;
 }

.visualy-hidden {
   position: fixed;
   transform: scale(0);
}

/* header */

 .header {
   padding: 32px 0;
 }

.header__container {
   display: flex;
   justify-content: space-between;
}

.header__btns {
   display: flex;
   align-items: center;
   gap: 32px;
}

/* hero */

.hero {
   padding: 30px 0 85px;
}

.hero__container {
   position: relative;
}

.hero__title {
   max-width: 880px;
   margin-bottom: 70px;
   font-size: 84px;
   font-weight: 900;
}

.hero__cups {
   display: flex;
   align-items: flex-end;
   gap: 20px;
   padding-top: 200px;
}

.hero__cup {
   position: relative;
   width: 100%;
   aspect-ratio: 1/1;
   border-radius: 24px;
}

.hero__cup_pink {
   background: #FF196C;
}

.hero__cup_orange {
   align-self: flex-start;
   margin-top: -70px;
   background: #FFB72A;
}

.hero__cup_green {
   background: #34B905;
}

.hero__img {
   position: absolute;
   bottom: 13%;
   left: 50%;
   transform: translateX(-50%);
   width: 55%;
}

.decor {
   position: absolute;
   inset: 0;
}

.decor__img {
   position: absolute;
   background-position: center;
   background-size: 100%;
   background-repeat: no-repeat;
}

.decor__img_01 {
   top: 19%;
   left: -6%;
   width: 223px;
   height: 214px;
   background-image: url(../images/klu_r.png);
   transform: rotateY(180deg);
   filter: drop-shadow(0px 10px 30px rgba(164, 7, 2, 0.50));
   animation: flying01 2s ease-in-out;
}

.decor__img_02 {
   top: 11%;
   right: 6%;
   width: 180px;
   height: 147px;
   background-image: url(../images/ej.png);
   filter: drop-shadow(0px 4px 20px rgba(17, 7, 108, 0.50));
   animation: flying02 2s ease-in-out;
}

.decor__img_03 {
   top: 34%;
   right: 0;
   width: 46px;
   height: 41px;
   background-image: url(../images/klu.png);
   filter: drop-shadow(0px 4px 20px rgba(223, 97, 15, 0.40));
   animation: flying03 2s ease-in-out;
}

.decor__img_04 {
   bottom: 46%;
   left: 36%;
   width: 46px;
   height: 41px;
   background-image: url(../images/klu.png);
   filter: drop-shadow(0px 4px 20px rgba(223, 97, 15, 0.40));
   animation: flying04 2s ease-in-out;
}

.decor__img_05 {
   bottom: -33px;
   left: 27%;
   width: 109px;
   height: 114px;
   background-image: url(../images/cher.png);
   filter: drop-shadow(0px 4px 20px rgba(1, 30, 82, 0.50));
   animation: flying05 2s ease-in-out;
}

.decor__img_06 {
   bottom: -10%;
   right: -5%;
   width: 223px;
   height: 214px;
   background-image: url(../images/klu_r.png);
   filter: drop-shadow(0px 10px 30px rgba(164, 7, 2, 0.50));
   animation: flying06 2s ease-in-out;
}


/* goods */
.goods {
   padding: 60px 0 70px;
}

.goods__title {
   font-size: 44px;
   font-weight: 900;
   margin-bottom: 40px;
}

.goods__list {
   display: grid;
   grid-template-columns: repeat(4, 280px);
   gap: 20px;
}

.coktail {
   display: flex;
   flex-direction: column;
   height: 100%;
   padding: 12px;
   border-radius: 32px;
   background: #fff;
}

.goods__img {
   width: 100%;
}

.coktail__content {
   flex-grow: 1;
   display: flex;
   flex-direction: column;
   padding: 12px;
}

.coktail__text {
   display: grid;
   grid-template-columns: 3fr 1fr;
   margin-bottom: 10px;
   gap: 2px 5px;
}

.coktail__title {
   grid-row: 1/3;
   font-size: inherit;
   font-weight: 400;
}

.coktail__size {
   flex: 0 0 100%;
   text-align: end;
   font-size: 12px;
   font-weight: 600;
   color: #c1c1c1;
}

.coktail__btn {
   margin-top: auto;
}

.coktail__price {
   text-align: end;
   font-weight: 600;
}

/* footer */
.footer {
   padding: 30px 0 32px;
}

.footer__container {
   display: grid;
   gap: 40px;
   grid-template-columns: 1fr 1fr;
   grid-template-areas:
   "logotip ."
   "copir develop";
}

.footer__logo {
   grid-area: logotip;
}

.copyright {
   grid-area: copir;
}

.footer__developer {
   grid-area: develop;
   justify-self: end;
   margin-top: -30px;
}

.developer-item {
   margin-bottom: 10px;
}
.developer-item:last-child {
   margin-bottom: 0;
}

/* modal */
.modal {
   position: fixed;
   inset: 0;
   background-color: rgb(0, 0, 0, 0.5);
   cursor: pointer;
   padding: 20px;
   overflow-y: auto;
   display: none;
}

.modal__main {
   margin: auto;
   cursor: default;
   width: 100%;
}

.modal__main_order {
   max-width: 780px;
}

.modal__main_make {
   max-width: 640px;
}

.order {
   border-radius: 24px;
   background-color: #f8e8e2;
   box-shadow: 0px 4px 4px 0px rgba(0,0,0, 0.25);
   padding: 40px 60px;
}

.order__title {
   font-size: 44px;
   font-weight: 900;
   margin-bottom: 40px;
}

.order__list {
   margin-bottom: 40px;
}

.order__item {
   display: grid;
   grid-template-columns: 70px 1fr min-content;
   grid-template-areas:
   "image info delete"
   "image info price";
   gap: 12px;
   padding-top: 16px;
   padding-bottom: 16px;
   border-top: 1px solid #fff;
}

.order__item:last-child {
   border-bottom: 1px solid #fff;
}

.order__img {
   grid-area: image;
   max-width: 100%;
}

.order__info {
   grid-area: info;
}

.order__name {
   font-weight: 400;
   font-size: inherit;
   margin-bottom: 8px;
}

.order__info-item {
   margin-bottom: 8px;
   color: #d5b4a8;
   font-size: 12px;
   font-weight: 600;
}

.order__info-item:last-child {
   margin-bottom: 0;
}

.oreder__item-delete {
   grid-area: delete;
   justify-self: end;
   width: 24px;
   height: 24px;
   background-image: url(../images/delete.svg);
}

.order__item-price {
   grid-area: price;
   justify-self: end;
   align-self: end;
}

.order__price {
   display: flex;
   justify-content: space-between;
   margin-bottom: 40px;
}

.order__price-title {
   font-weight: 600;
}

.order__total-price {
   font-weight: 600;
}

.order__form {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 32px 20px;
}

.order__label {
   width: 100%;
}

.order__input {
   width: 100%;
   height: 44px;
   padding: 0 16px;
   border-radius: 16px;
   background-color: #fff;
   border: none;
}

.order__button {
   justify-self: end;
   grid-column: 2/3;
}

.make__form {
   display: flex;
   flex-direction: column;
}

.make__fieldset {
   margin: 0;
   padding: 0;
   border: 0;
}

.make__fieldset_ingridients {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 20px 55px;
   margin-bottom: 32px;
}

.make__wrap {
   display: flex;
   gap: 55px;
   margin-bottom: 40px;
}

.checkbox {
   position: relative;
   display: block;
   padding-left: 32px;
   line-height: 24px;
   cursor: pointer;
}

.make__input {
   position: absolute;
   appearance: none;
   width: 24px;
   height: 24px;
   margin-left: -32px;
}

.make__input::before {
   content: '';
   position: absolute;
   inset: 0;
   display: block;
   border-radius: 2px;
   background-color: #fff;
}

.make__input::after {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 12px;
   height: 15px;
   background-image: url(../images/ch.svg);
   background-repeat: no-repeat;
   opacity: 0;
}

.make__input:checked:after {
   opacity: 1;
}

.make__input:hover::before {
   background-color: #f6f6f6;
}

.make__input:focus::before {
   border: 1px solid #d5b4a8;
}

.make__input:focus-visible {
   outline: none;
}
/* ------------ */
.make__input_radio {
   position: absolute;
   appearance: none;
   width: 24px;
   height: 24px;
   margin-left: -32px;
}

.make__input_radio::before {
   content: '';
   position: absolute;
   inset: 0;
   display: block;
   border-radius: 50%;
   background-color: #fff;
}

.make__input_radio::after {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 10px;
   height: 10px;
   background-color: #000;
   border-radius: 50%;
   opacity: 0;
}

.make__input_radio:checked:after {
   opacity: 1;
}

.make__input_radio:hover::before {
   background-color: #f6f6f6;
}

.make__input_radio:focus::before {
   border: 1px solid #d5b4a8;
}

.make__input_radio:focus-visible {
   outline: none;
}
/* ------------- */

.make__fieldset_toppings {
   width: 150px;
   display: grid;
   grid-template-columns: 1fr;
   gap: 20px;
}

.make__legend {
   margin-bottom: 24px;
   color: #d5b4a8;
}

.make__fieldset_cups {
   display: grid;
   grid-template-columns: 1fr;
   gap: 20px;
}

.make__upsale {
   color: #d5b4a8;
   font-size: 12px;
}

.make__foter {
   display: flex;
   align-items: center;
   gap: 30px;
}

.make__btn {
   min-width: 232px;
}

.make__total-prise {
   font-weight: 600;
}

.make__total-size {
   color: #d5b4a8;
   font-size: 12px;
}


@media (max-width: 1240px) {
   body {
      background-image: url(../images/bg_laptop.svg);
      background-position: 0 -50px;
   }

   .container {
      max-width: 940px;
   }

   .hero {
      padding-bottom: 30px;
   }

   .hero__title {
      max-width: 680px;
      font-size: 64px;
   }

   .hero__cups {
      padding-top: 216px;
   }

   .hero__cup_orange {
      margin-bottom: 50px;
   }

   .decor__img_01 {
      top: 24%;
      left: 1%;
      width: 131px;
      height: 125px;
   }

   .decor__img_02 {
      width: 122px;
      height: 99px;
   }

   .decor__img_03 {
      width: 38px;
      height: 33px;
   }

   .decor__img_04 {
      bottom: 43%;
      left: 37%;
      width: 38px;
      height: 33px;
   }

   .decor__img_05 {
      bottom: -6%;
      left: 27%;
      width: 61px;
      height: 64px;
   }

   .decor__img_06 {
      bottom: -3%;
      right: -5%;
      width: 131px;
      height: 125px;
   }

   .goods__list {
      grid-template-columns: repeat(3, 280px);
   }
}

@media (max-width: 940px) {
   body {
      background-image: url(../images/bg_tablet.svg);
      background-position: 0 -50px;
      font-size: 14px;
   }

   .container {
      max-width: 668px;
      padding: 0 15px;
   }

   .btn {
      box-shadow: 0px 2px 10px 0px #fa5a5a;
      padding: 8px 20px;
   }

   .header {
      padding: 34px 0 20px;
   }

   .header__btns {
      gap: 24px;
   }

   .hero {
      padding-bottom: 46px;
   }

   .hero__title {
      font-size: 44px;
      max-width: 462px;
   }

   .hero__cups {
      padding-top: 112px;
      gap: 13px;
   }

   .hero__cup {
      border-radius: 12px;
   }

   .hero__img {
      bottom: 10%;
   }

   .decor__img_01 {
      top: 21%;
      left: -2%;
      width: 76px;
      height: 73px;
   }

   .decor__img_02 {
      width: 72px;
      height: 58px;
   }

   .decor__img_03 {
      width: 22px;
      height: 19px;
   }

   .decor__img_04 {
      bottom: 43%;
      left: 37%;
      width: 22px;
      height: 19px;
   }

   .decor__img_05 {
      bottom: -6%;
      left: 27%;
      width: 41px;
      height: 44px;
   }

   .decor__img_06 {
      bottom: -11%;
      right: -5%;
      width: 96px;
      height: 93px;
   }

   .goods {
      padding: 40px 0 50px;
   }

   .goods__title {
      font-size: 24px;
      margin-bottom: 16px;
   }

   .goods__list {
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
      gap: 16px;
   }

   .coktail {
      border-radius: 12px;
      padding: 8px;
   }

   .coktail__content {
      padding: 0;
   }

   .goods__img {
      margin-bottom: 8px;
   }

   .coktail__text {
      row-gap: 8px;
      margin-bottom: 16px;
   }

   .coktail__title {
      flex: 0 0 100%;
   }

   .coktail__size {
      flex: auto;
      font-size: 10px;
   }
}

@media (max-width: 640px) {
   body {
      background-image: url(../images/bg_mob.svg);
      background-position: 0 -80px;
   }

   .header {
      padding: 30px 0;
   }

   .header__logo {
      width: 120px;
   }

   .header__btn {
      display: none;
   }

   .hero {
      padding-top: 0;
      /* padding-bottom: 120px; */
   }

   .hero__title {
      font-size: 36px;
      margin-bottom: 0;
   }

   .hero__cups {
      display: none;
   }

   .decor__img_01 {
      top: 99%;
      left: 3%;
      width: 76px;
      height: 73px;
   }

   .decor__img_02 {
      width: 62px;
      height: 50px;
      top: -78%;
      left: 0%;
   }

   .decor__img_03 {
      display: none;
   }

   .decor__img_04 {
      bottom: -30%;
      left: 56%;
      width: 22px;
      height: 19px;
   }

   .decor__img_05 {
      display: none;
   }

   .decor__img_06 {
      display: none;
   }

   .goods {
      padding: 30px 0;
   }

   .goods__list {
      gap: 10px;
   }

   .footer {
      padding-bottom: 24px;
   }

   .footer__container {
      grid-template-areas:"logotip" "copir" "develop";
      gap: 20px;
   }

   .footer__logo {
      width: 120px;
   }

   .copyright {
      margin-bottom: 10px;
   }
}

@keyframes flying01 {
   0% {
      top: 50%;
      left: -100%;
   }

   100% {
      top: 19%;
      left: -6%;
   }
}
@keyframes flying02 {
   0% {
      top: -100%;
      left: -100%;
   }

   100% {
      top: 11%;
      right: 6%;
   }
}
@keyframes flying03 {
   0% {
      top: -100%;
      right: -100%;
   }

   100% {
      top: 34%;
      right: 0;
   }
}
@keyframes flying04 {
   0% {
      top: 100%;
      left: -100%;
   }

   100% {
      bottom: 46%;
      left: 36%;
   }
}
@keyframes flying05 {
   0% {
      top: 100%;
      left: -100%;
   }

   100% {
      bottom: -33px;
      left: 27%;
   }
}
@keyframes flying06 {
   0% {
      bottom: -100%;
      left: -100%;
   }

   100% {
      bottom: -10%;
      right: -5%;
   }
}
